<section class="hero is-primary is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">

          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered"> 
        <p class="title is-size-1">Pharmacy</p>
        <p class="subtitle">We are glad you are here</p>
        <button class="button is-info w3-hover-white mr-5">Log in</button>
  
        <button class="button is-info w3-hover-white" onclick="window.location.href='/pharmacyRegistration'">Register</button>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-head">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li><a class="w3-hover-white" href="">Home</a></li>
            <li><a class="w3-hover-white" href="/createActionsAndNews">Create actions and news</a></li>
            <li><a class="w3-hover-white" href="/objections">All objections</a></li>
            <li><a class="w3-hover-white" href="/saveMedicationConsumptionReport">Download report</a></li>
            <li><a class="w3-hover-white" href="/createMedicationSpecificationReportComponent">Medications specification</a></li>

          </ul>
        </div>
      </nav>
    </div>
  </section>
  